header {
    background-color: antiquewhite;
    color: black;
    padding: 40px;
    text-align: center;

}

li{
    list-style-type: none;
}
.grupo-fotos{
    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
}

.banner img {
    width: 1000px;
}